@model ProductDetailModel

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <img src="~/img/@Model.Product.ImageUrl" class="card-img">
            </div>
            <div class="col-md-7">
                @foreach (var i in Model.Categories)
                {
                    <a href="/products/@i.Url" class="btn btn-link p-0 mb-3">@i.Name > </a>
                }

                <h3 class="card-title">@Model.Product.Name</h3>

                <h4 style="padding-top: 1em;" class="card-text">@Model.Product.Price ₺</h4>

                <form asp-controller="Cart" asp-action="AddToCart" method="POST" class="form-inline">
                    <input type="hidden" name="productId" value="@Model.Product.ProductId">
                    <div style="padding-top: 2em; width: 70px;" class="input-group mb-3">
                        <input type="number" name="quantity" class="form-control" value="1" min="1" step="1"
                            style="width: 100px;">
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="fas fa-cart-plus"></i> Add to cart
                        </button>
                    </div>



                </form>


            </div>
        </div>
        <div style="padding-top: 2em;" class="row">
            <div class="col-md-12">
                <p class="p-3">@Model.Product.Content</p>
                <p class="p-3">@Html.Raw(Model.Product.Description)</p>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 16em;"></div>